body{
background-repeat: no-repeat;
background-attachment: fixed ;
background-position-x: center;
background-size: cover;
background-image: url('../Images/1.jpg');
}

.h-custom1{
height:100vh;   
background-color: rgba(5, 5, 5, 0.7);
}

nav{
top: 0;    
}

.f-13{
font-size: 13px;    
}

.nav-underline1::after{
content: "";    
width: 130%;
height: 2px;
background-color: rgb(255, 255, 255);
margin: 5px -6px;
display: block; 
transform-origin: left;
transition: all 200ms linear 0s;    
}
    
.nav-underline2::after{
content: "";    
width: 130%;
height: 2px;
background-color: rgb(255, 255, 255);
margin: 5px -6px;
display: block; 
transform: scaleX(0);
transform-origin: left;
transition: all 200ms linear 0s;    
}

.nav-underline2:hover::after{   
transform: scaleX(1);
}

@keyframes animation1{
    0%{
        content: "i";
    }
    
    1.5%{
        content: "i'm";
    }
    
    3%{
        content: "i'm u";
    }
    
    4.5%{
        content: "i'm ui";
    }
    
    6%{
        content: "i'm ui/";
    }
    
    7.5%{
        content: "i'm ui/u";
    }
    
    9%{
        content: "i'm ui/ux";
    }
    
    10.5%{
        content: "i'm ui/ux d";
    }
    
    12%{
        content: "i'm ui/ux de";
    }
    
    13.5%{
        content: "i'm ui/ux des";
    }
    
    15%{
        content: "i'm ui/ux desi";
    }
    
    16.5%{
        content: "i'm ui/ux desig";
    }
    
    18%{
        content: "i'm ui/ux design";
    }
    
    19.5%{
        content: "i'm ui/ux designe";
    }
    
    21%{
        content: "i'm ui/ux designer";
    }
    
    26%{
        content: "i'm ui/ux designer";   
    }
    
    27.5%{
        content: "l";
    }
    
    29%{
        content: "le";  
    }
    
    30.5%{
        content: "let";  
    }
    
    32%{
        content: "let's";  
    }
    
        
    33.5%{
        content: "let's w";  
    }
    
    35%{
        content: "let's wo";  
    }
    
    36.5%{
        content: "let's wor";  
    }
    
    38%{
        content: "let's work";  
    }
    
    39.5%{
        content: "let's work t";  
    }
    
    41%{
        content: "let's work to";  
    }
    
    42.5%{
        content: "let's work tog";  
    }
    
    44%{
        content: "let's work toge";  
    }
    
    45.5%{
        content: "let's work toget";  
    }
    
    46.5%{
        content: "let's work togeth";  
    }
    
    48%{
        content: "let's work togethe";  
    }
    
    49.5%{
        content: "let's work together";  
    }
    
    51%{
        content: "let's work together";  
    }
    
    56%{
        content: "let's work together";  
    }
    
    57.5%{
        content: "i";
    }
    
    59%{
        content: "i c";
    }
    
    60.5%{
        content: "i ca";
    }
    
    62%{
        content: "i can";
    }
    
    63.5%{
        content: "i can c";
    }
    
    65%{
        content: "i can cr";
    }
    
    66.5%{
        content: "i can cre";
    }
    
    68%{
        content: "i can crea";
    }
    
    69.5%{
        content: "i can creat";
    }
    
    71%{
        content: "i can create";
    }
    
    72.5%{
        content: "i can create a";
    }
    
    74%{
        content: "i can create aw";
    }
    
    75.5%{
        content: "i can create aws";
    }
    
    77%{
        content: "i can create awso";
    }
    
    78.5%{
        content: "i can create awsom";
    }
    
    80%{
        content: "i can create awsome";
    }
    
    81.5%{
        content: "i can create awsome s";
    }
    
    83%{
        content: "i can create awsome st";
    }
    
    84.5%{
        content: "i can create awsome stu";
    }
    
    86%{
        content: "i can create awsome stuf";
    }
    
    87.5%{
        content: "i can create awsome stuff";
    }
    
    100%{
        content: "i can create awsome stuff";
    }
    
    }
    
.text-animation::before{
content: "";
animation: animation1 9s linear 0s infinite;
}

@keyframes animation6{
    from{
        transform:translateY(4px);
    }
    to{
        transform:translateY(19px);
        opacity: 0;
    }
}

.div1{
width: 30px;
height: 50px;
border-radius: 30px; 
}

.div1 div{
width: 8px;
height: 8px;
animation: animation6 1.2s linear 0s infinite;
}

@media all and (max-width:575px){
    .fs-15{
    font-size: 15px;
    } 

    .fs-13{
    font-size: 13px;
    } 


    .col-margin{
    margin-bottom: -9%;    
    }

    .col-margin2{
    margin-bottom: -13%;    
    }

    .col-margin3{
    margin-top: -13%;    
    }

}

@media all and (min-width:576px) and (max-width:767px){
    .fs-15{
    font-size: 15px;
    } 

    .fs-13{
    font-size: 13px;
    } 

    .col-margin{
    margin-bottom: -9%;    
    }

    .col-margin2{
    margin-bottom: -13%;    
    }
    
    .col-margin3{
    margin-top: -13%;    
    }
}

@media all and (min-width:768px) and (max-width:991px){
    .fs-15{
    font-size: 15px;
    } 

    .fs-13{
    font-size: 13px;
    } 

    .col-margin{
    margin-bottom: -9%;    
    }

    .col-margin2{
    margin-bottom: -13%;    
    }
        
    .col-margin3{
    margin-top: -13%;    
    }
}

@media all and (min-width:992px) and (max-width:1199px){
    .fs-15{
    font-size: 15px;
    } 

    .fs-13{
    font-size: 13px;
    } 

    .custom-border{
    border-bottom: 1px solid rgb(200, 200, 200);
    }

    .custom-border2{
    border-left: 1px solid rgb(200, 200, 200);  
    border-right: 1px solid rgb(200, 200, 200);      
    }

    .col-margin{
    margin-bottom: -3%;    
    }
}


@media all and (min-width:1200px) and (max-width:1399px){
    .fs-15{
    font-size: 15px;
    } 

    .fs-13{
    font-size: 13px;
    } 

    .custom-border{
    border-bottom: 1px solid rgb(200, 200, 200);
    }

    .custom-border2{
    border-left: 1px solid rgb(200, 200, 200);  
    border-right: 1px solid rgb(200, 200, 200);    
    }

    .col-margin{
    margin-bottom: -3%;    
    }
}

@media all and (min-width:1400px){
    .fs-15{
    font-size: 15px;
    } 

    .fs-13{
    font-size: 13px;
    } 


    .custom-border{
    border-bottom: 1px solid rgb(200, 200, 200);
    }

    .custom-border2{
    border-left: 1px solid rgb(200, 200, 200);   
    border-right: 1px solid rgb(200, 200, 200);    
    }

    .col-margin{
    margin-bottom: -3%;    
    }

}

.w-95{
width: 95%;    
}

.col-w{
width: 40px;
height: 40px;
}

.h-custom2{
height: 7px;
margin-top: -10px;
}

.progres-bg{
background-color: #dddd;    
}

@keyframes animation2{
    from{width: 0%; }
    to{width: 98%;}
}

.w-98{ 
margin-left: -12px; 
animation: animation2 1s linear 0s both;
}

@keyframes animation3{
    from{width: 0%; }
    to{width: 92%;}
}

.w-92{
margin-left: -12px; 
animation: animation3 1s linear 0s both;
}

@keyframes animation4{
    from{width: 0%; }
    to{width: 86%;}
}

.w-86{
margin-left: -12px; 
animation: animation4 1s linear 0s both;
}

@keyframes animation5{
    from{width: 0%; }
    to{width: 94%;}
}

.w-94{
margin-left: -12px;
animation: animation5 1s linear 0s both; 
}

.icon-size{
font-size: 40px;
color: rgb(80, 80, 80);
}

.col-icon i{    
transition: all 400ms linear 0s;    
}

.col-icon:hover i{    
transform: rotateY(360deg);
}

.border-25::after{
content: "";
display: block;
width: 25%;
height: 1.5px;
background-color: #000;
margin:5px auto;
}

.list1{
list-style: none; 
}

.line-through1::after{
content: "";    
width: 100%;
height:1px;
margin-top: -10px;
background-color: black;
display: block; 
transform: scaleX(0);
transform-origin: left;
transition: all 200ms linear 0s;    
}
    
.line-through1:hover::after{   
transform: scaleX(1);
}

.h-80{
height: 80%;    
}

.col-img:hover img{
transform: scale(0.9); 
outline: 20px solid #eee;
transition: all 250ms linear 0s;
}

.col-img div{
background-color: rgba(0, 0, 0, 0.8);   
outline: 20px solid rgba(0, 0, 0, 0.8); 
transition: all 150ms linear 0s;
}

.col-img:hover div{
transform: scale(0.85); 
opacity: 1 !important;
}
    
.custom-top{  
top: -80%;    
}

.img-circle{
width: 90px;
height: 90px;    
}

.outline-none{
outline: 0;    
}

.h-custom3{
    height: 100px;
}

.bookmark{
width: 50px;
height: 50px;
padding-top:5px ;
text-decoration: none;
border: 2px solid rgba(0, 0, 0, 0.8);
right: 10px;
bottom: 10px;
background-color: rgba(0, 0, 0, 0.8);
}

.bookmark:hover{
background-color: rgba(255, 255, 255, 0.8);    
border: 2px solid rgba(0, 0, 0, 0.8);    
color: black !important;
}

.list2{
list-style: none;
}

.list2 a{
color: rgb(80, 80, 80);   
transition: all 100ms linear 0s; 
}

.list2 a:hover{
color: black;    
}

.circle2{
width: 60px;    
height: 60px;  
margin-left: -10%;  
}
